 body {
	 position: relative;
	 background: #212529;
}

a, label{
	color: #ffffff;
}
div{
	border-color: #65F228;
}

figure{
	font-size: 11px;
	font-family: cursive;
	color: #ffffff;
}
#bloqueLogin{
	border-bottom-style: solid;
	border-radius: 30px;
	border-width: 1px;
	border-color: #65F228;
}

#bloqueLoginImg{
/* 	border-right: solid; */
/* 	border-radius: 30px; */
/* 	border-width: 1px; */
/* 	border-color: #65F228; */
}

h1, h2, h3, h4{
	color: #ffffff;	
}

.tituloArticulosProcesados{
	color: #198754;
	text-shadow:  1px 1px #ffffff;
}

.tituloArticulosNoProcesados{
	color: #DC3545;
	text-shadow: 1px 1px #ffffff;
}
 nav{
	border-bottom-style: solid;
	border-width: 1px;
	border-color: #65F228;
	background: #212529;
}